TECHM_ENV=local
TECHM_LOG_LEVEL=INFO
TECHM_JWT_ISSUER=http://keycloak:8080/realms/techm
TECHM_JWT_AUDIENCE=techm-api
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=local-admin-change-me
POSTGRES_USER=techm
POSTGRES_PASSWORD=local-techm-change-me
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081
REDIS_URL=redis://redis:6379/0
MINIO_ROOT_USER=techm-local
MINIO_ROOT_PASSWORD=local-minio-change-me
MINIO_ENDPOINT=http://minio:9000
OPENSEARCH_URL=http://opensearch:9200
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
SMTP_HOST=mailhog
SMTP_PORT=1025
PAYMENT_PROVIDER=mock
